# Why List - Declaring - Checking type

In [20]:
#Create a List having all even numbers between 1 to 10 and check its type
list=[2,4,6,8,10]

In [2]:
type(list)

list

In [1]:
#Create a List having your name (Ashish) and your fav number (135) and check its type
list1=["Kunal",135]
print(list1)
type(list1)

['Kunal', 135]

list

# List indexing

In [4]:
#Use the first list created and print 1st element
print(list[0])

2

In [5]:
#Use the first list created and print 2nd to 4th element(including both)
print(list[1:4])

[4, 6, 8]

In [19]:
#Use the first list created and print last 2 elements
print(list[-2:])

[8, 10]

# Difference between list and string

In [32]:
#In your original list - chane first element to 1
list.pop(0)
list.insert(0,1)

In [22]:
#Print list to observe the change
print(list)

[1, 4, 6, 8, 10]

In [37]:
#create a string of your name(Ashish )
str="Ashish"

In [38]:
#try to change first character of name by 'I'
print(str.replace("A", "I"))

Ishish

In [ ]:
#Observe the error above -  recollect immutable and mutable concept in class

# List Method and Functions - Basic of function

In [44]:
#Create a simple lsit having values 20,30,40,50,60,70,80
num=[20,30,40,50,60,70,80]

In [45]:
#Check the legth of above list using len function
print(len(num))

7

In [46]:
#Use pop function to delete 4th element from list -  in this case its 50
num.pop(3)

50

In [47]:
#Check list again to see if 50 is deleted
print(num)

[20, 30, 40, 60, 70, 80]

In [49]:
#Lets add back 50 again by using append method
num.append(50)

In [50]:
#print List again to check if number 50 is added
print(num)

[20, 30, 40, 60, 70, 80, 50]

In [54]:
#Create a new list having values 90,100 and combine both list using extend 
num2=[90,100]
num.extend(num2)

In [55]:
#Print list
print(num)

[20, 30, 40, 60, 70, 80, 50, 90, 100]

# Nested List

In [56]:
#Create a nested list with values - 12,[13,14,15],16
nlist=[12,[14,14,15],16]

In [57]:
#View Nested List
print(nlist)

[12, [14, 14, 15], 16]

# List Comprehension

In [58]:
#Create a list having values as [100,200,300,400,500]
flist=[100,200,300,400,500]

In [60]:
#Create a new list which divided all numbers by 2 and gives new list using list comprehension
remainder=[]
for val in flist:
    remainder.append(val/2)

In [61]:
#Print above created List to see if numbers are divided by 2
print(remainder)

[50.0, 100.0, 150.0, 200.0, 250.0]