# What and why of tuples - Declaring tuples

In [1]:
#Create a tuple having 4 numbers 45,65,75,85
t=(45,65,75,85)

In [2]:
#Check the type of above created tuple
print(type(t))

<class 'tuple'>

In [5]:
#Create a tuple having values 'a','b','c' -  use "tuple" for this
x='a','b','c'
t1=tuple(x)

In [13]:
#Access the first element of above tuple - In this case 'a'
print(t1[0])

a

In [21]:
#Access the second and third element of above tuple - In this case 'b','c'
print(t1[1:3])

('b', 'c')

# Immutable properties of tuple

In [22]:
#Try to change the second value of tuple to 'd'
t1[1]='d'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Note the immutable property of tuple - not supporting modification

# Some functions on tuples - in , not in

In [23]:
#Find if 'a' is there in tuple using 'in' keyword
print('a' in t1)

True

In [25]:
#Find if 'b' is not in above tuple using 'not in' keyword
print('b' not in t1 )

False

In [27]:
#FInd legth of the tuple
print(len(t1))

3

# Sets - Unordered and Unindexed

In [28]:
#create a set having 4 elements - 'p','q','r','s'
s={'p','q','r','s'}

In [29]:
#Check type of above created varibale
print(type(s))

<class 'set'>

In [30]:
#Try to access first element of set
print(s[0])

TypeError: 'set' object is not subscriptable

In [55]:
#Note the above error - you dont have index in set, like list and tuple

# Deduplication using sets

In [31]:
#Create a set with some duplicate values like 9,0,9,0
s1={9,0,9,0}

In [32]:
#View the set to observe how duplicate elememts are removed
print(s1)

{0, 9}

# Set functions like Union, intersections, len, add , remove

In [33]:
#create two different sets 
#In first set put - 'cricket','football','Hockey'
#In second set put - 'Chess','Swimming','football'
first_set={'cricket','football','Hockey'}
second_set={'Chess','Swimming','football'}

In [34]:
#Find an intersection of above two sets
print(first_set&second_set)

{'football'}

In [35]:
#Find the union of above two sets
print(first_set|second_set)

{'Chess', 'football', 'Hockey', 'Swimming', 'cricket'}

In [36]:
#Find the difference of two sets  first set - second set
print(first_set-second_set)

{'Hockey', 'cricket'}

In [37]:
#Add another game - 'Basketball' in first set
first_set.add('Basketball')

In [38]:
#Print the set to check addition
print(first_set)

{'Hockey', 'cricket', 'football', 'Basketball'}

In [39]:
#Remove cricket from set
first_set.remove('cricket')

In [40]:
#Check Set agian
print(first_set)

{'Hockey', 'football', 'Basketball'}

In [41]:
#try to access first element of above set
print(first_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#NOte the error above - sets do not have index

# Compare List, Tuple and Sets

In [42]:
#create a list, a tuple and a set all having same values - 11,22,33
l1=[11,22,33]
s2={11,22,33}
t3=11,22,33

In [ ]:
#Check the types of all vars one by one

In [43]:
print(type(l1))

<class 'list'>

In [44]:
print(type(s2))

<class 'set'>

In [45]:
print(type(t3))

<class 'tuple'>