# Basic of Looping - Why Looping

# Different type of looping

In [ ]:
#Think of a business scenario where looping will be useful - from day to day activities

# A simple for loop wiht print statement

In [1]:
#create a list having words "Cricket" "Football" "Hockey"
l=["Cricket", "Football", "Hockey"]

In [2]:
#print all the game names in the above list using a for loop
for i in l:
    print(i)

Cricket
Football
Hockey

# A for loop doing some functionality

In [5]:
#create a list having having some numbers - 11,22,33,44,55,66,77,88
l1=[11,22,33,44,55,66,77,88]

In [6]:
#use a for loop to print "even" if the number in the list in even number and  "odd" if the number is odd in the list
for i in l1:
    if i%2==0:
        print("Even")
    else:
        print("odd")

odd
Even
odd
Even
odd
Even
odd
Even

# Little complex for loop for practical purpose

In [8]:
#create a list having some words - "apple","banana", "orange","kiwi"
fruitList=["apple","banana", "orange","kiwi"]

In [9]:
print(fruitList)

['apple', 'banana', 'orange', 'kiwi']

In [14]:
#write a functionality using for loop and if else conditions as follow
#create a new list where , If the fruit name contains 'a', modify the 'a' with 'A'
for i in fruitList:
    word=""
    for v in i:
        if v=="a":
            str="A"
        else:
            str=v
        word=word+str
    print(word)

Apple
bAnAnA
orAnge
kiwi

# A for loop with range function

In [20]:
#write a for loop to print all even numbers between 0 to 100
for i in range(0,101):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100