### Question-1: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
ans=[]
for i in range(2002,3200,7):
    if i%5!=0:
        ans.append(i)
print(ans)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### Question-2: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [2]:
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

num=int(input("Enter a number"))
ans=fact(num)
print(f'ans is: {ans}')

Enter a number8
ans is: 40320

### Question-3: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [3]:
num=int(input("Enter a number"))
dict={}

for i in range(1,num+1):
    dict[i]=i*i
    
print(dict)

Enter a number10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Question-4: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [4]:
values=input("Enter a list of numbers")
l=values.split(',')
t=tuple(l)
print(l)
print(t)

Enter a list of numbers1,4,6832,123,8,424
['1', '4', '6832', '123', '8', '424']
('1', '4', '6832', '123', '8', '424')

### Question-5: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [5]:
class test():
    def __init__(self):
        self.str=""
    def getString(self):
        self.str=input("Enter a string: ")
    def printString(self):
        print(self.str.upper())

obj=test()
obj.getString()
obj.printString()

Enter a stringhello my name is kunal
HELLO MY NAME IS KUNAL

### Question-6: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

In [24]:
import math
c=50 
h=30
values=[]
items=[x for x in input().split(',')]
for d in items:
    values.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
print(','.join(values))

1,67,234,85
2,15,28,17

### Question-7: Write a program which takes 2 digits, X,Y as input and generates a 2- dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,Â¡Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [36]:
input_str=input()
dimension=[int(x) for x in input_str.split(',')]
x=dimension[1]
y=dimension[0]
ans=[[0 for row in range(x)]for col in range(y)]
for i in range (y):
    for j in range (x):
        ans[i][j]=i*j
print (ans)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### Question-8: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [10]:
all_words=[word for word in input().split(',')]
all_words.sort()
print(','.join(all_words))

without,hello,bag,world
bag,hello,without,world

### Question-9: Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

In [12]:
lines=[]
while True:
    s=input()
    if s:
        lines.append(s.upper())
    else:
        break

for sentence in lines:
    print(sentence)

hello word
my name is kunal
i am a data scientist

HELLO WORD
MY NAME IS KUNAL
I AM A DATA SCIENTIST

### Question-10: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [17]:
sentence=[word for word in input().split(' ')]
print(" ".join(sorted(list(set(sentence)))))

hello world and practice makes perfect and hello world again
 again and hello makes perfect practice world